.footer-container {
  background-image: url("../assets/img/footer-bg.jpg");
  position: relative;
  z-index: -2;
}

.footer-container::before {
  content: url("../assets/img/dc-logo-bg.png");
    position: absolute;
    overflow: hidden;
    top: -10%;
    left: 50%;
    z-index: -1;
    opacity: 0.7;
}

.footer-content-container {
  width: 80%;
  margin: 0 auto;
}

.col-container {
  padding-top: 1em;
  width: 35%;
  display: flex;
  gap: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  color: rgb(218, 221, 223);
  font-size: 1rem;
}

.col a {
  color: rgb(118, 118, 118);
  font-size: 0.7rem;
}