img {
  width: 80px;
  height: 80px;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-content {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 1em;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(68, 66, 66);
}

