img {
  width: 80px;
  height: 80px;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(226, 228, 235);
}

.content {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 1em;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(68, 66, 66);
}


@media screen and (max-width: 730px) {
  nav {
    display: none;
  }

  .content {
    justify-content: center;
  }

  .header {
    position: absolute;
  }
}