.main {
  padding-top: 100px;
}

.container {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  background-color: rgb(23, 23, 23);
  color: rgb(129, 123, 123);
  font-weight: 800;
}

p {
  width: 80%;
  margin: 0 auto;
}

.links-container {
  background-color: rgb(12, 124, 236);
}

a img {
  max-width: 30px;
  max-height: 50px;
}

.links {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
  gap: 1em;
}

.links a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 730px) {
  .links {
    flex-direction: column;
    align-items: flex-start;
  }
}

.series-container::before {
  content: "CURRENT SERIES";
  background-color: rgb(12, 124, 236);
  color: rgb(223, 224, 225);
  font-size: 0.8rem;
  padding: 0.6em 0.8em;
  position: relative;
  top: -60px;
}

.series-container {
  width: 80%;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2em;
}

.col {
  width: calc(100% / 6 - 60px / 6);
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.7rem;
  text-transform: uppercase;
  overflow: hidden;
}

.thumb {
  aspect-ratio: 1;
}

.banner {
  background-image: url("../assets/img/jumbotron.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .banner {
    height: 100px;
  }

  .col {
    width: calc(100% / 4 - 60px / 4);
  }

  figcaption {
    font-size: 0.5rem;
  }
}