body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

img {
  max-width: 100%;
}

.true {
  border-bottom: 2px solid rgb(12, 124, 236);
}